*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./img/background.jpg);
    animation: bgAnimation 1000s infinite linear; 
    padding: 20px 20px;
    transition: 500ms;
}
@keyframes bgAnimation {
    0%{
        background-position: top left;
    }
    25%{
        background-position:top right;
    }
    50%{
        background-position:bottom right;
    }
    75%{
        background-position:bottom left;
    }
    100%{
        background-position:top left;
    }
}
.main{
    display:none;
}
.rounded{
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: rgb(230, 230, 230 , 0.5) ;
}
.darcBg{
    border-radius: 10px;
    padding: 5px;
    background-color:rgb(200, 200, 200 , 0.3);
}
/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.headerCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navNone{
    display: none;
}
@media (max-width:560px) {
    .headerCont nav{
        display: none;
    }
    .navNone{
        display: block;
        width: 270px;
        text-align: center;
        margin: 0 auto;
        padding: 5px;
    }
}
#themeChange{
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease , filter 500ms;
}
.dark #themeChange{
    transform: rotate(180deg);
    filter: invert(100%);
}
nav{
    display: flex;
    gap: 5px;
    padding: 10px 10px  !important;
}
nav a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 20px;
}
.active{
    background-color:orange;
    color:#fff;
    font-weight: 700;
}
.search{
    display: flex;
    gap: 10px;
}
.search input{
    flex-grow: 1;
    border-radius:8px;
    border:none;
    outline: none;
}
#searchBtn{
    cursor: pointer;
    font-size: 18px;
}
.movieTitle{
    display: none;
    text-align: center;
    padding: 10px;
    font-style: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.movie{
    display: none;
    justify-content: space-between;flex-wrap: wrap;
    gap: 20px 10px;
    margin-bottom: 10px;
}
#movieImg{
    width: calc(8.8vw + 232px);
    height: calc(388px + (600 - 388) * ((100vw - 320px) / (1920 - 320)));
    background-image:url(./img/film2.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.movieDescription{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.desc{
    border-radius: 10px;
    background-color:rgb(73,60, 60 , 0.1);
    padding: 6px 12px;
    display: flex;
}
.desc span{
    width: 50%;
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
}
.semularMovie{
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:20px calc(14px + (40 - 14) * ((100vw - 320px) / (1920 - 320)));
    
}
.semularMovieCard{
    background-image:url(./img/film3.jpg);
    width: calc(200px + (300 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(300px + (500 - 300) * ((100vw - 320px) / (1920 - 320)));
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
   

}
.semularMovieCardTitle{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color:rgb(255 255 255 / 40%);
    padding: 20px 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
}
.saved{
    background-image: url(./img/star_24dp_FFF_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    height: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    padding: 8px;
    border-radius:15px;
    background-color: rgba(137, 137, 137, 0.628);
    margin: 15px 15px;
}
.loader {
    display: none;
    height: 14px;
    --c: no-repeat linear-gradient(#000 0 0);
    background: var(--c),var(--c),#fff;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}
@keyframes l16 {
    0%   {background-position:-150% 0,-150% 0}
    66%  {background-position: 250% 0,-150% 0}
    100% {background-position: 250% 0, 250% 0}
}

/* "dark mood" */

.dark .rounded{
    background-color: rgb(130, 130, 130 , 0.5) ;
}
.dark .darcBg{
    background-color:rgb(  100, 100, 100 , 0.3);
}
.dark .semularMovieCardTitle{
    background-color:rgba(0, 0, 0, 0.1)
}
.dark ,.dark button, .dark a{
    color:white;
}
.saved.active{
    background-color:orange;
    filter: invert(100%);
}
.favoritsCards{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.favoritsCard{
    width: calc(200px + (300 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(300px + (500 - 300) * ((100vw - 320px) / (1920 - 320)));
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
}
.favTItle{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color:rgb(255 255 255 / 40%);
    padding: 20px 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
}